


.jumbotron{
    margin-bottom: 20px;
}

.container{
    width: 100%;
    text-align: center;
    align-items: center;
}

.input-area{

    
}

#rowDiv{
    display: inline-block;
    margin: 0 auto;
}

input [type="text"]{
    height: 40px;
    font-size: 20px;
}

#submitWeather{
    align-items: center;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}